<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Calculo de IMC com vue</title>

</head>
<body>
    <div id='app'>   
        <p>
            {{msg}}  
            <br>
        </p>
        <p>   
        Altura:<input v-model.number='altura' type = 'number' v-on:keyup.enter="calculcarIMC"/>
        </p> 
        <p>
        Peso:<input v-model.number='peso' type = 'number'  v-on:keyup.enter="calculcarIMC" />
        </p> 
        <p>     
                  
            Seu imc é {{imc}}.
            <br>
            Você está {{status}}.
        </p>          
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        new Vue (
            {
                el: '#app',
                data: {
                    imc: 0 ,
                    status: '',
                    altura: 0, 
                    peso:0,
                    msg: "Informe os valores de altura e peso e aperte enter"                
                },
            // define métodos dentro do objeto `methods`
            methods: {
                calculcarIMC: function (event) {
                   
                    if (this.altura < 1 || this.altura > 3) {                       
                        this.imc = 0
                        this.status = ""
                        this.msg = "Informe uma altura válida!"
                    }else if(this.peso < 1 || this.peso > 150) {                       
                        this.imc = 0
                        this.status = ""
                        this.msg = "Informe uma peso válido!"
                    }else{
                        if (this.altura > 0 && this.peso > 0){
                            this.msg="Informe os valores de altura e peso e aperte enter"    
                            imc = this.peso / (this.altura * this.altura)
                            this.imc = imc.toFixed(2)
                            if (imc < 19) {
                            this.status = "MAGREZA"
                            }else  if (imc > 18 && imc < 25) {
                            this.status = "NORMAL"
                            }else  if (imc > 24 && imc < 30) {
                            this.status = "SOBREPESO"
                            }else  if (imc > 29 && imc < 40) {
                            this.status = "OBESIDADE"
                            }else {
                            this.status = "OBESIDADE GRAVE"
                            }
                        }
                    }
                }
            }
        })
    </script>

</body>
</html>